@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  width: 80%;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
  margin: 24px auto;
}

.filters input {
  height: 36px;
}

footer {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 5;
  width: 212px;
}


.apiNews {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 5;
  width: 212px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  height: 80%;
  overflow: scroll;
}


.app-news-list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;

}

.app-news-list li {

}

.app-news-list li span{
  margin-left: 12px;
}